@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    /* font-family: 'Dongle', sans-serif; */
}

body {
    background: #f1f5f8;
    color: #222;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bookList {
    width: 90vw;
    max-width: 1170px;
    margin: 5rem auto;
    /* display: grid; */
    gap: 2rem;
}
.book {
    background: #fff;
    border-radius: 1rem;
    padding: 4rem 2rem 2rem;
    text-align: center;
    position: relative;
}
.book img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}
.book h2 {
    margin-top: 1rem;
    font-size: 1.3rem;
}

.book h4 {
    color: #617d98;
    font-size: 1rem;
    margin-top: 0.5rem;
    letter-spacing: 1.2px;
}
.book p {
    margin: 1rem 0 0.5rem;
}
h1 {
    text-align: center;
    margin-top: 4rem;
    text-transform: uppercase;
}
.book button {
    margin: 10px auto 5px;
    padding: 7px 20px;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid #000;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.book button:hover {
    color: #333;
    background-color: #fff;
}

article p.bookID {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 15px 7px;
    background: orange;
    border-radius: 1rem 0 1rem 0;
    color: #fff;
    letter-spacing: 3px;
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
    border-width: 0;
}
@media screen and (min-width: 768px) {
    .bookList {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: start;
    }
}
@media screen and (min-width: 767px) and (max-width: 1239px) {
    .bookList {
        grid-template-columns: repeat(2, 1fr);
    }
    .book img {
        width: 100%;
        min-height: 620px;
        height: 100%;
        object-fit: cover;
    }
}
@media screen and (max-width: 767px) {
    .bookList {
        display: flex;
        flex-direction: column;
    }
    .book img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
