/* fonts start */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@font-face {
    font-family: 'Lodeh';
    src: local('Lodeh-VGLD6'), url('./fonts/Lodeh-VGLD6.ttf') format('truetype');
}
@font-face {
    font-family: 'Franklin';
    src: local('FranklinGothic'),
        url('./fonts/FranklinGothic.woff') format('woff');
}
/* fonts end */

/* general style start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.list-container:focus-visible {
    outline: none;
}
body {
    background: #f1f5f8;
    color: #222;
}
main {
    margin-top: 4rem;
}
.container {
    max-width: 1360px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 3rem;
    padding: 0 2vw;
}
/* general style end */

/* heading start */
.page-heading {
    text-align: center;
    row-gap: 0.7rem;
    display: flex;
    flex-direction: column;
}
.main-title {
    font-family: 'Lodeh', serif;
    text-transform: uppercase;
}
.sub-title {
    font-family: 'Franklin', sans-serif;
    font-weight: 100;
    text-transform: none;
    letter-spacing: 0.1rem;
}
.category-title {
    display: block;
    margin: 0 auto;
    font-size: 2rem;
    line-height: 2.2rem;
    font-family: 'Franklin';
    font-weight: 100;
    text-transform: uppercase;
}
/* heading end */

/* dropdown section start */
select,
.not-selected {
    font-size: 1.4rem;
}
.categories-list {
    margin: 5rem auto 0;
}
.not-selected {
    grid-column: span 3;
    display: flex;
    margin: 5rem auto;
    /* width: 100%; */
    /* text-align: center; */
    /* max-width: 1360px; */
    /* min-width: 1360px; */
    justify-content: center;
}
/* dropdown section end */

/* books section start */
.books-list {
    max-width: 1360px;
    width: 100%;
    gap: 1rem;
}
.book {
    background: #fff;
    border-radius: 1rem;
    padding: 4rem 1rem 2rem;
    text-align: center;
    position: relative;
}
.book img {
    width: 100%;
    height: 420px;
    object-fit: contain;
    /* border: 1px solid #617d986e; */
    padding: 0.9rem;
}
.book h2 {
    margin-top: 1rem;
    font-family: 'Franklin', sans-serif;
    font-size: 1.3rem;
    line-height: 1.3rem;
}
.book h4 {
    color: #617d98;
    font-family: 'Franklin', sans-serif;
    font-size: 1rem;
    margin-top: 0.5rem;
    letter-spacing: 1.2px;
}
.book p,
select,
option,
.not-selected {
    font-family: 'EB Garamond', serif;
}
.book p {
    margin: 1rem 0 0.5rem;
}
.book .book-title {
    min-height: 55px;
}
.book .book-description {
    min-height: 100px;
    font-size: 1.2rem;
    line-height: 1.4rem;
}
.book button {
    margin: 10px auto 5px;
    padding: 7px 20px;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid #000;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.book button:hover {
    color: #333;
    background-color: #fff;
}

article p.bookID {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 15px 7px;
    background: rgb(255, 166, 0);
    border-radius: 1rem 0 1rem 0;
    color: #fff;
    letter-spacing: 3px;
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
    border-width: 0;
}
/* books section end */

/* responsive start */
@media screen and (min-width: 768px) {
    .books-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: start;
    }
}
@media screen and (min-width: 767px) and (max-width: 1239px) {
    .books-list {
        grid-template-columns: repeat(2, 1fr);
    }
    .book img {
        width: 100%;
        min-height: 620px;
        height: 100%;
        object-fit: cover;
    }
}
@media screen and (max-width: 767px) {
    .books-list {
        display: flex;
        flex-direction: column;
    }
    .book img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
/* responsive end */

.selected {
    background-color: rgb(255, 166, 0);
    font-weight: 700;
    color: #fff;
}
