/* fonts start */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@font-face {
    font-family: 'Lodeh';
    src: local('Lodeh-VGLD6'), url('./fonts/Lodeh-VGLD6.ttf') format('truetype');
}
@font-face {
    font-family: 'Franklin';
    src: local('FranklinGothic'),
        url('./fonts/FranklinGothic.woff') format('woff');
}
/* fonts end */

/* themes start */
body.light {
    --bg: #f1f5f8;
    --text: #222222;
    --text-2: #617d98;
    --card-bg: #ffffff;
    --card-hover-bg: #f5f5f5;
    --card-shadow: rgba(0, 0, 0, 0.08);
    --card-text: #222222;
    --accent: #ffa600;
}

body.dark {
    --bg: #111111;
    --text: #eeeeee;
    --text-2: #ffa600;
    --card-bg: #1a1a1a;
    --card-hover-bg: #222222;
    --card-shadow: rgba(255, 255, 255, 0.05);
    --card-text: #f5f5f5;
    --accent: #ffa600;
}
/* themes end */

/* general style start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.list-container:focus-visible {
    outline: none;
}
:root {
    --transition-speed: 0.4s;
}
body,
header,
.book,
.container,
select,
option,
.not-selected {
    transition: background-color var(--transition-speed) ease,
        color var(--transition-speed) ease,
        border-color var(--transition-speed) ease;
}
body {
    background: var(--bg);
    color: var(--text);
}
.container {
    max-width: 1360px;
    width: 100%;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 3rem;
    padding: 0 2vw;
}
/* general style end */

/* header start */
.app-header {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    /* max-width: 1360px; */
    width: 100%;
    margin: 0;
    padding: 1vh 5vw;
    background: var(--bg);
    /* box-shadow: 0 1px 10px #bfd6e7; */
    border-bottom: 1px solid #bfd6e7;
    border-radius: 0;
    z-index: 10;
}
.app-header a {
    text-decoration: none;
}
.app-logo {
    font-family: 'Lodeh', serif;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--text);
}
header button {
    background: transparent;
    border: none;
    border-radius: 0;
    cursor: pointer;
    font-size: 2rem;
}

.page-heading {
    text-align: center;
    row-gap: 0.7rem;
    display: flex;
    flex-direction: column;
}
.main-title {
    font-family: 'EB Garamond', serif;
    font-size: 2.8rem;
    line-height: 3rem;
    text-transform: capitalize;
}
.sub-title {
    font-family: 'Franklin', sans-serif;
    font-weight: 100;
    text-transform: none;
    letter-spacing: 0.1rem;
}
.category-title {
    display: block;
    margin: 0 auto;
    font-size: 2rem;
    line-height: 2.2rem;
    font-family: 'Franklin';
    font-weight: 100;
    text-transform: uppercase;
}
/* header end */

/* dropdown section start */
select,
.not-selected {
    font-size: 1.4rem;
}
select,
option {
    color: var(--text);
    background: var(--bg);
}
.categories-list {
    margin: 0 auto;
}
.not-selected {
    grid-column: span 3;
    display: flex;
    margin: 5rem auto;
    /* width: 100%; */
    /* text-align: center; */
    /* max-width: 1360px; */
    /* min-width: 1360px; */
    justify-content: center;
}
/* dropdown section end */

/* books section start */
.app-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    row-gap: 0.7rem;
}
.books-list {
    max-width: 1360px;
    width: 100%;
    gap: 1rem;
}
.book {
    background: var(--card-bg);
    border-radius: 1rem;
    padding: 4rem 1rem 2rem;
    text-align: center;
    position: relative;

    transition: background 0.25s ease, transform 0.25s ease,
        box-shadow 0.25s ease;
    box-shadow: 0 4px 10px var(--card-shadow);
}
.book:hover {
    background: var(--card-hover-bg);
    transform: translateY(-6px);
    box-shadow: 0 10px 20px var(--card-shadow);
}
.book img {
    width: 100%;
    height: 420px;
    object-fit: contain;
    padding: 0.9rem;
    transition: transform 0.25s ease;
}
.book:hover img {
    transform: scale(1.02);
}
.book h2 {
    color: var(--card-text);
    margin-top: 1rem;
    font-family: 'Franklin', sans-serif;
    font-size: 1.3rem;
    line-height: 1.3rem;
}
.book h4 {
    color: var(--text-2);
    font-family: 'Franklin', sans-serif;
    font-size: 1rem;
    line-height: 1.2rem;
    font-weight: 200;
    margin-top: 0.5rem;
    letter-spacing: 1.2px;
}
.book p,
select,
option,
.not-selected {
    font-family: 'EB Garamond', serif;
}
.book p {
    margin: 1rem 0 0.5rem;
}
.book .book-title {
    min-height: 55px;
}
.book .book-title a {
    text-decoration: none;
    color: var(--text);
    transition: color 0.4s ease;
}
.book .book-title a:hover {
    color: var(--accent);
}
.book .book-description {
    min-height: 100px;
    font-size: 1.2rem;
    line-height: 1.4rem;
}
.book button {
    margin: 10px auto 5px;
    padding: 7px 20px;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid #000;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.book button:hover {
    color: #333;
    background-color: #fff;
}

article p.bookID {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 15px 7px;
    background: var(--accent);
    border-radius: 1rem 0 1rem 0;
    color: #fff;
    letter-spacing: 3px;
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
    border-width: 0;
}
/* books section end */

/* book details page */
.book-body > .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 2rem;
    align-items: flex-start;
}
.book-head {
    /* border-bottom: 1px solid #bfd6e7; */
    padding: 0.7rem 5vw;
    display: flex;
    justify-content: flex-end;
}
.arrow-back {
    font-size: 2rem;
}
.book-head a {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    text-decoration: none;
    font-size: 1.3rem;
    font-family: 'Franklin', sans-serif;
    line-height: 1.5rem;
    font-weight: 100;
}
.image-column {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.image-column > img {
    width: 300px;
    object-fit: contain;
}
.details-column {
    width: 50%;
    padding: 1rem 5rem 0 0;
}
.details-column h4 {
    color: var(--text-2);
}
.details-column .book-description {
    font-size: 1.2rem;
    line-height: 1.2rem;
    padding: 1rem 0;
}
.book-body > .container.not-found {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 3rem;
}

/* responsive start */
@media screen and (min-width: 768px) {
    .books-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: start;
    }
}
@media screen and (min-width: 767px) and (max-width: 1239px) {
    .books-list {
        grid-template-columns: repeat(2, 1fr);
    }
    .book img {
        width: 100%;
        min-height: 620px;
        height: 100%;
        object-fit: cover;
    }
}
@media screen and (max-width: 767px) {
    .books-list {
        display: flex;
        flex-direction: column;
    }
    .book img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
/* responsive end */

.selected {
    background-color: rgb(255, 166, 0);
    font-weight: 700;
    color: #fff;
}
